.header-container {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center; 
  align-items: center;
  background: #ECFBF3;
  position: relative; 
}

.header-title {
  color: black;
  font-size: 18px;
  font-family: 'Pretendard', sans-serif;
  font-weight: 700;
}

.header-close {
  position: absolute; 
  right: 20px;
  background: none;
  border: none;
  font-size: 20px;
  color: black;
  cursor: pointer;
}